*
    margin: 0
    padding: 0
    outline: none
    vertical-align: baseline
    box-sizing: border-box

html, body
    width: 100%
    height: 100%
    background: #333
    font: 16px Arial, sans-serif

#app
    position: relative
    width: 100%
    min-height: 100%
    padding: 1em
    background #000 url('https://s-media-cache-ak0.pinimg.com/736x/87/ab/ce/87abce2317c1f17ce00a611206b934d8--wallpaper-for-your-phone-landscape-wallpaper-iphone.jpg') center no-repeat
    background-size cover